#title {
    font-size: 64px;
    text-align: center;
}

/*Don't know how to center the picture at the moment while keeping it center during window resizing*/
.image {
    height: auto;
    width: 500px;
}

.desc p{
    background-color: black;
    color: white;
}

.ingredients li{
    background-color: cadetblue;
    text-align: center;
}

.steps li{
    font-size: 20px;
    font-weight: 700;
}